#include('../footer.html')
<script src="${cdnURL()}/plugins/tagsinput/jquery.tagsinput.min.js"></script>
<script src="${cdnURL()}/plugins/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="${cdnURL()}/plugins/datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="${cdnURL()}/plugins/jquery-multi-select/jquery.quicksearch.js"></script>
<script src="${cdnURL()}/plugins/mditor/js/mditor.min.js"></script>
<script src="${cdnURL()}/plugins/wysihtml5/0.3.0/wysihtml5.min.js"></script>
<script src="${cdnURL()}/plugins/summernote/0.8.2/summernote.min.js"></script>
<script src="${cdnURL()}/plugins/summernote/0.8.2/lang/summernote-zh-CN.min.js"></script>
<script src="${cdnURL()}/plugins/vue-select/vue-select.js"></script>
<script src="${cdnURL()}/plugins/jquery-toggles/2.0.4/toggles.min.js"></script>
<script src="${cdnURL()}/plugins/dropzone/4.3.0/min/dropzone.min.js"></script>
<script src="${cdnURL()}/plugins/to-markdown/3.1.0/to-markdown.min.js"></script>