<footer class="footer text-right">
   sszyc8 | <a href="https://github.com/biezhi" target="_blank">京ICP备17016547号</a>.
</footer>
</div>
</div>
<script src="//cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/limonte-sweetalert2/6.4.1/sweetalert2.min.js"></script>
<script src="/static/admin/js/jquery.app.js?v=${version}"></script>
<script src="/static/admin/js/base.js?v=${version}"></script>

