<footer class="footer text-right">
    2017 © <a href="https://github.com/biezhi" target="_blank">Tale</a>.
</footer>
</div>
</div>
</div>
</div>
<script src="${cdnURL()}/plugins/jquery/3.2.1/jquery.min.js"></script>
<script src="${cdnURL()}/plugins/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="${cdnURL()}/plugins/md5/md5.min.js"></script>
<script src="${cdnURL()}/plugins/dashborad/detect.js"></script>
<script src="${cdnURL()}/plugins/dashborad/fastclick.js"></script>
<script src="${cdnURL()}/plugins/dashborad/wow.min.js"></script>
<script src="${cdnURL()}/plugins/dashborad/jquery.slimscroll.js"></script>
<script src="${cdnURL()}/plugins/limonte-sweetalert2/6.4.1/sweetalert2.min.js"></script>
<script src="${cdnURL()}/plugins/axios/axios.min.js"></script>
<script src="${cdnURL()}/plugins/vue/vue.min.js"></script>
<script src="${cdnURL()}/plugins/moment/moment.min.js"></script>
<script src="${cdnURL()}/plugins/vue-loading/vue-loading.min.js"></script>
<script src="${cdnURL()}/plugins/dashborad/jquery.app.js?v=${version}"></script>
<script src="${cdnURL()}/js/base.js?v=${version}"></script>
