#include('./header.html',{active:'users', title:'用户管理'})
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">用户管理</h4>
    </div>
    <div class="col-md-12">
        <div class="pull-right">
            <button class="btn btn-success waves-effect waves-light m-b-5" onclick="addNewUser()">添加用户</button>
        </div>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>用户名</th>
                <th>邮箱</th>
                <th>创建时间</th>
                <th>最后登录时间</th>
                <th>用户权限</th>
                <th>用户状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            #for(item : users.rows)
            <tr cid="${item.uid}">
                <td>${item.username}</td>
                <td>${item.email}</td>
                <td>${fmtdate(item.created, 'yyyy-MM-dd HH:mm:ss')}</td>
                <td>
                    #if(null != item.logged && item.logged > 0)
                    ${fmtdate(item.logged, 'yyyy-MM-dd HH:mm:ss')}
                    #else
                    尚未登录
                    #end
                </td>
                <td>
                    #if(item.groupName == 'ADMIN')
                    管理员
                    #elseif(item.groupName == 'MEMBER')
                    会员
                    #end
                </td>
                <td>
                    #if(item.state == 1)
                    正常
                    #elseif(item.state == 0)
                    禁用
                    #end
                </td>
                <td>
                    #if(item.groupName != 'ADMIN')
                        #if(item.state == 1)
                        <button class="btn btn-warning" onclick="updateState(${item.uid}, 0)">禁用</button>
                        #elseif(item.state == 0)
                        <button class="btn btn-success" onclick="updateState(${item.uid}, 1)">启用</button>
                        #end
                    <button class="btn btn-danger" onclick="deleteUser(${item.uid})">删除</button>
                    <button class="btn btn-info" onclick="updatePassword(${item.uid},'${item.username}')">修改密码</button>
                    #end
                </td>
            </tr>
            #end
            </tbody>
        </table>
    </div>
</div>

<div id="add-user-model" class="hidden">
    <form class="form-horizontal" role="form" id="createUserForm">
        <input type="hidden" name="state" value="1"/>
        <input type="hidden" name="groupName" value="MEMBER"/>

        <div class="form-group">
            <label class="col-md-3 control-label">用户名</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="username" placeholder="请输入登录账户"
                       required aria-required="true"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">用户邮箱</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="email" placeholder="请输入用户邮箱"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">用户密码</label>
            <div class="col-md-9">
                <input type="password" class="form-control" name="password" placeholder="请输入6位以上密码"
                       required aria-required="true"/>
            </div>
        </div>
    </form>
</div>

<div id="update-pass-model" class="hidden">
    <form class="form-horizontal" role="form">
        <input type="hidden" name="uid"/>
        <div class="form-group">
            <label class="col-md-3 control-label">用户密码</label>
            <div class="col-md-9">
                <input type="password" class="form-control" name="password" placeholder="请输入6位以上密码"
                       required aria-required="true"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">确认密码</label>
            <div class="col-md-9">
                <input type="password" class="form-control" name="password" placeholder="请确认密码"
                       required aria-required="true"/>
            </div>
        </div>
    </form>
</div>

#include('./footer.html')
<script src="/static/admin/plugins/jquery-validate/1.15.1/jquery.validate.min.js"></script>
<script src="/static/admin/plugins/jquery-validate/1.15.1/localization/messages_zh.min.js"></script>
<script type="text/javascript">

    var tale = new $.tale();
    function addNewUser() {
        swal({
            title: '添加新用户',
            html: $('#add-user-model').html(),
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            showCancelButton: true,
            preConfirm: function () {
                return new Promise(function (resolve, reject) {
                    if (!checkUserValid()) {
                        reject();
                    } else {
                        tale.post({
                            url: '/admin/users/create',
                            data: $('.swal2-container form').serialize(),
                            success: function (result) {
                                if (result && result.success) {
                                    tale.alertOkAndReload('新增成功');
                                } else {
                                    tale.alertError(result.msg || '新增失败');
                                }
                            }
                        })
                    }
                })
            }
        }).catch(swal.noop);

        var validator = $('.swal2-container #createUserForm').validate({
            rules: {
                username: {
                    required: true,
                    minlength: 2
                },
                password: {
                    required: true,
                    minlength: 5
                },
                confirm_password: {
                    required: true,
                    minlength: 5,
                    equalTo: "#password"
                },
                email: {
                    required: true,
                    email: true
                }
            },
            messages: {
                username: {
                    required: "请输入用户名",
                    minlength: "用户名必需由两个字母组成"
                },
                password: {
                    required: "请输入密码",
                    minlength: "密码长度不能小于 5 个字母"
                },
                confirm_password: {
                    required: "请输入密码",
                    minlength: "密码长度不能小于 5 个字母",
                    equalTo: "两次密码输入不一致"
                },
                email: "请输入一个正确的邮箱"
            }
        });

        function checkUserValid() {
            var username = $('.swal2-container [name="username"]').val();
            var email = $('.swal2-container [name="email"]').val();
            var password = $('.swal2-container [name="password"]').val();
            if (!username || !email || !password) return false;
            return validator.valid();
        }
    }

    function updateState(uid, state) {
        tale.alertConfirm({
            title: '确定操作吗?',
            then: function () {
                tale.post({
                    url: '/admin/users/update',
                    data: {uid: uid, state: state},
                    success: function (result) {
                        if (result && result.success) {
                            tale.alertOkAndReload('操作成功');
                        } else {
                            tale.alertError(result.msg || '操作失败');
                        }
                    }
                });
            }
        });
    }

    function deleteUser(uid) {
        tale.alertConfirm({
            title: '确定操作吗?',
            then: function () {
                tale.post({
                    url: '/admin/users/delete',
                    data: {uid: uid},
                    success: function (result) {
                        if (result && result.success) {
                            tale.alertOkAndReload('操作成功');
                        } else {
                            tale.alertError(result.msg || '操作失败');
                        }
                    }
                });
            }
        });
    }

    function updatePassword(uid, username) {
        swal({
            title: '修改 [' + username + '] 的密码',
            html: $('#update-pass-model').html(),
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            showCancelButton: true,
            preConfirm: function () {
                return new Promise(function (resolve, reject) {
                    var p = $('.swal2-container [name="password"]');
                    if ($(p[0]).val() != $(p[1]).val()) {
                        swal("密码输入不一致，请重新输入");
                        reject();
                    } else {
                        tale.post({
                            url: '/admin/users/update',
                            data: $('.swal2-container form').serialize() + "&uid=" + uid + "&username=" + username,
                            success: function (result) {
                                if (result && result.success) {
                                    tale.alertOkAndReload('操作成功');
                                } else {
                                    tale.alertError(result.msg || '操作失败');
                                }
                            }
                        });
                    }
                })
            }
        }).then(function (e) {

        }).catch(swal.noop);
    }
</script>
</body>
</html>