#include('./partial/header.html',{title: article.title, keywords: article.tags})
<article class="main-content page-page" itemscope itemtype="http://schema.org/Article">
    <div class="post-header">
        <h1 class="post-title" itemprop="name headline">
            <a href="${permalink()}">${title()}</a>
        </h1>
        <div class="post-data">
            <time datetime="${created('yyyy-MM-dd')}" itemprop="datePublished">发布于 ${created('yyyy-MM-dd')}</time>
            / ${show_categories()} / <a href="#comments">${comments_num('没有评论', '%d 条评论')}</a> /
            ${hits()}浏览
        </div>
    </div>
    <div id="post-content" class="post-content" itemprop="articleBody">
        <p class="post-tags">${show_tags()}</p>
        ${show_content()}
        <p class="post-info">
            本文由 <a href="">${theme_option('author') ?! 'biezhi'}</a> 创作，采用 <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank"
                                               rel="external nofollow">知识共享署名4.0</a> 国际许可协议进行许可<br>本站文章除注明转载/出处外，均为本站原创或翻译，转载前请务必署名<br>最后编辑时间为:
            ${modified('yyyy/MM/dd HH:mm')}
        </p>
    </div>
</article>
<div id="post-bottom-bar" class="post-bottom-bar">
    <div class="bottom-bar-inner">
        <div class="bottom-bar-items social-share left">
            <span class="bottom-bar-item">Share : </span>
            <span class="bottom-bar-item bottom-bar-facebook"><a href="https://www.facebook.com/sharer/sharer.php?u=${permalink()}" target="_blank" title="${title()}" rel="nofollow">facebook</a></span>
            <span class="bottom-bar-item bottom-bar-twitter"><a href="https://twitter.com/intent/tweet?url=${permalink()}&text=${title()}" target="_blank" title="${title()}" rel="nofollow">Twitter</a></span>
            <span class="bottom-bar-item bottom-bar-weibo"><a href="http://service.weibo.com/share/share.php?url=${permalink()}&amp;title=${title()}" target="_blank" title="${title()}" rel="nofollow">Weibo</a></span>
            <span class="bottom-bar-item bottom-bar-qrcode"><a href="https://cli.im/api/qrcode/code?text=${permalink()}&mhid=50eWDQu6nc0hMHcrKtNXPKo" target="_blank" rel="nofollow">QRcode</a></span>
        </div>
        <div class="bottom-bar-items right">
            <span class="bottom-bar-item">${thePrev('→')}</span>
            <span class="bottom-bar-item">${theNext('←')}</span>
            <span class="bottom-bar-item"><a href="#footer">↓</a></span>
            <span class="bottom-bar-item"><a href="#">↑</a></span>
        </div>
    </div>
</div>
#include('./partial/comments.html')
#include('./partial/footer.html')