#include('/admin/header.html',{active:'themes', title:'主题设置'})
<div class="row">
${bodyContent}
</div>
#include('/admin/footer.html')
<script >

    var tale = new $.tale();

    /**
     * 保存全局设置
     */
    function saveThemeOptions(formId) {
        var param = $('#' + formId).serialize();
        tale.post({
            url : '/admin/api/themes/setting',
            data: param,
            success: function (result) {
                if(result && result.success){
                    tale.alertOk('设置保存成功');
                } else {
                    tale.alertError(result.msg || '设置保存失败');
                }
            }
        });
    }

    /**
     * 保存个性化设置
     */
    function saveIndiviSetting() {
        var param = $('#indivi-form').serialize();
        tale.post({
            url : '/admin/api/themes/setting',
            data: param,
            success: function (result) {
                if(result && result.success){
                    tale.alertOk('设置保存成功');
                } else {
                    tale.alertError(result.msg || '设置保存失败');
                }
            }
        });
    }
</script>
</body>
</html>