$black: #293846;

$grey: #7f8c8d;
$greyLight: #a1b2b4;
$greyLighter: #ddd;

$whiteLighter: #fcfcfc;
$whiteLight: #f7f7f7;
$white: #eee;
$whiteDark: #ddd;

$greenLighter: #94ffd7;
$green: #009a61;
$greenDark: #004e31;
