.main {
  &.page {
    padding-top: 100px;
    padding-bottom: 70px;
    .header {
      text-align: center;
      .tag {
        margin: 0;
        margin-top: 30px;
        font-weight: bold;
        font-size: 32px;
      }
      .tag-sub {
        margin: 0;
        font-weight: normal;
        margin-top: 10px;
        font-size: 16px;
        color: $grey;
      }
      .search-wrap {
        position: relative;
        max-width: 300px;
        margin: 0 auto;
        margin-top: 50px;
        .search {
          padding: 10px 25px;
          border: 1px solid $greyLighter;
          border-radius: 100px;
          width: 100%;
          box-sizing: border-box;
          opacity: 0.8;
          &:focus {
            outline: 0;
            opacity: 1;
          }
        }
        .icon {
          position: absolute;
          right: 10px;
          top: 5px;
          opacity: 0.3;
        }
      }
    }
    .article-list {
      margin-top: 100px;
      .searched {
        background-color: $green;
        color: $whiteLighter;
      }
      .article {
        margin-bottom: 55px;
        padding-bottom: 45px;
        border-bottom: 1px $greyLighter dashed;
        &:last-child {
          border-bottom: 0;
        }
        .title {
          font-size: 26px;
          font-weight: bold;
          margin-bottom: 5px;
          text-decoration: none;
          color: $black;
          display: block;
          .top {
            color: $grey;
            margin-right: 5px;
          }
        }
        .cover {
          color: $white;
          width: 100%;
          height: 280px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          border-radius: 6px;
          border: 1px solid $whiteDark;
          box-sizing: border-box;
          margin-top: 15px;
          @media (max-width: 414px) {
            height: 180px;
          }
        }
        .preview {
          @mixin font-main;
          display: inline-block;
          line-height: 28px;
          font-size: 16px;
          margin-top: 10px;
          color: $black;
        }
        .info {
          margin-top: 15px;
          margin-bottom: 20px;
          color: $grey;
          font-size: 14px;
        }
        .avatar {
          width: 20px;
          height: 20px;
          margin-right: 10px;
          border-radius: 20px;
          background-size: cover;
          background-repeat: no-repeat;
          float: left;
          margin-top: -4px;
          border: 1px $greyLighter solid;
        }
        .name {
          margin-right: 10px;
        }
        .date {
          color: $grey;
        }
        .tags {
          @mixin font-main;
          margin-left: 10px;
          float: right;
          .tag {
            margin-right: 5px;
            color: $grey;
            text-decoration: none;
          }
        }
      }
      .empty {
        text-align: center;
        font-size: 24px;
        max-width: 800px;
        overflow: hidden;
        text-overflow: ellipsis;
        span {
          font-weight: bold;
        }
      }
    }
    .page-nav {
      position: relative;
      height: 50px;
      font-size: 14px;
      a {
        color: $grey;
        font-style: italic;
        text-decoration: none;
      }
      .nav {
        left: 0;
        right: 0;
        text-align: center;
        display: block;
        color: $grey;
        position: absolute;
        z-index: -1;
      }
      .prev {
        float: left;
        &:before {
          content: "";
          width: 3px;
          height: 3px;
          border: 2px $grey solid;
          border-radius: 3px;
          display: block;
          float: left;
          margin-right: 7px;
          margin-top: 5px;
        }
      }
      .next {
        float: right;
        &:after {
          content: "";
          width: 3px;
          height: 3px;
          border: 2px $grey solid;
          border-radius: 3px;
          display: block;
          float: right;
          margin-left: 7px;
          margin-top: 5px;
        }
      }
    }
  }
}
