<!DOCTYPE html>
<html>
    <head>
        #include('./partial/head.html',{home_page:1})
    </head>
    <body>
        <article class="container">
            #include('./partial/header.html',{home_page:1})
            <article class="main archive">
                <header class="site">
                    <h1 class="title">${site_title()}</h1>
                    <h2 class="subtitle">${site_subtitle()}</h2>
                </header>
                #set(total = 0)
                <ul class="archive-list">
                    #for(archive : archives)
                    <li class="archive-item">
                        <div class="archive-year">${archive.date_str}</div>
                        <ul class="article-list">
                            #for(article : archive.articles)
                            <li class="article-item">
                                <span class="date">${created('yyyy-MM-dd')}</span>
                                <a href="${(permalink())}">${title()}</a>
                            </li>
                            #end
                            #set(total =  total + archive.articles.size())
                        </ul>
                    </li>
                    #end
                </ul>
                <header class="header">
                    <span class="title">归档 -</span>
                    <span class="subtitle">${total} 篇文章</span>
                </header>
            </article>
        </article>
        #include('./partial/footer.html',{home_page:1})
    </body>
    <script src="${theme_url('/static/js/index.js')}"></script>
</html>
