<!DOCTYPE html>
<html>
<head>
    #include('./partial/head.html',{home_page:1})
</head>
<body>
<article class="container">
    #include('./partial/header.html',{home_page:1})
    <article class="main page">
        <header class="header site">
            <img class="logo" src="${theme_url('/static/img/logo.png')}" />
            <h1 class="title">${site_title()}</h1>
            <h2 class="subtitle">${site_subtitle()}</h2>
        </header>
        <ul class="article-list">
            #set(pageInfo = articles(10))
            #for(article : pageInfo.rows)
            <li class="article">
                <a class="title" href="${permalink()}">${title()}</a>
                #if(article.thumbImg != null && article.thumbImg != '')
                <div class="cover" style="background-image:url('${article.thumbImg}');"></div>
                #end
                <section class="preview content">
                    <p>${intro(130)}...</p>
                </section>
                <section class="info">

                    <span class="avatar" style="background-image: url(${theme_url('/static/img/logo.png')});"></span>
                    <a class="name" href="${site_url('/about')}">${theme_option('author', '王爵nice')}</a>
                    <span class="date" data-time="${article.created}"><span class="from"></span></span>
                    <span class="tags">
                        #for(tag : tag_list())
                        <a class="tag" href="${site_url('/tag/' + tag)}">${tag}</a>
                        #end
                    </span>
                </section>
            </li>
            #end
        </ul>
        <section class="page-nav">
            #if(pageInfo.hasPrevPage)
            <a class="prev" href="${site_url('/page/' + pageInfo.prevPage)}">上一页</a>
            #end
            <span class="nav">${pageInfo.pageNum} / ${pageInfo.totalPages}</span>
            #if(pageInfo.hasNextPage)
            <a class="next" href="${site_url('/page/' + pageInfo.nextPage)}">下一页</a>
            #end
        </section>
    </article>
</article>
#include('./partial/footer.html',{home_page:1})
</body>
<script src="${theme_url('/static/js/index.js')}"></script>
</html>
