<!DOCTYPE html>
<html>
    <head>
        #include('./partial/head.html')
    </head>
    <body>
        <article class="container">
            #include('./partial/header.html')
            <article class="main tag">
                <header class="site">
                    <h1 class="title">${site_title()}</h1>
                    <h2 class="subtitle">${site_subtitle()}</h2>
                </header>
                <ul class="tag-list clearfix">
                    #set(total = 0)
                    #for(Map.Entry entry : mapping)
                    <li class="tag-item">
                        <a class="tag-name" href="${site_url('/tag/' + entry.key)}">
                            ${entry.key} <span class="tag-count">(${entry.value.size()})</span>
                        </a>
                        #set(total =  total + entry.value.size())
                    </li>
                    #end
                </ul>
                <header class="header">
                    <span class="title">标签 -</span>
                    <span class="subtitle">${total} 篇文章</span>
                </header>
            </article>
        </article>
        #include('./partial/footer.html')
    </body>
    <script src="${theme_url('/static/js/index.js')}"></script>
</html>
