<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="keywords" content="${meta_keywords()}"/>
    <meta name="description" content="${meta_description()}"/>
    <meta content="${_csrf_token}" name="csrf_token"/>
    <link rel="shortcut icon" href="${theme_url('/static/img/favicon.png')}"/>
    <link rel="apple-touch-icon" href="${theme_url('/static/img/apple-touch-icon.png')}"/>
    <title>${head_title()}</title>
    <link href="${theme_url('/static/css/default.min.css')}" rel="stylesheet">
    <link href="${theme_url('/static/css/style.min.css')}" rel="stylesheet">
    #if(allow_cloud_CDN() == "true")
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    #else
    <script src="/static/admin/plugins/jquery/3.2.1/jquery.min.js"></script>
    #end

    <script src="${theme_url('/static/js/highlight.min.js')}"></script>
    <script src="${theme_url('/static/js/instantclick.min.js')}"></script>
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body #if(!is_post) class="bg-grey" #end gtools_scp_screen_capture_injected="true">
<!--[if lt IE 8]>
<div class="browsehappy" role="dialog">
    当前网页 <strong>不支持</strong> 你正在使用的浏览器. 为了正常的访问, 请 <a href="http://browsehappy.com/" target="_blank">升级你的浏览器</a>。
</div>
<![endif]-->
<header id="header" class="header bg-white">
    <div class="navbar-container">
        <a href="${site_url()}" class="navbar-logo">
            #if(theme_option('logo_url') == "")
            <img src="${theme_url('/static/img/logo.png')}" alt="${site_title()}"/>
            #else
            <img src="${theme_option('logo_url')}" alt="${site_title()}"/>
            #end
        </a>
        <div class="navbar-menu">
            <a href="${site_url('/archives')}">归档</a>
            <a href="${site_url('/links')}">友链</a>
            <a href="${site_url('/about')}">关于</a>
        </div>
        <div class="navbar-search" onclick="">
            <span class="icon-search"></span>
            <form role="search" onsubmit="return false;">
                <span class="search-box">
                    <input type="text" id="search-inp" class="input" placeholder="搜索..." maxlength="30"
                           autocomplete="off">
                </span>
            </form>
        </div>
        <div class="navbar-mobile-menu" onclick="">
            <span class="icon-menu cross"><span class="middle"></span></span>
            <ul>
                <li><a href="${site_url('/archives')}">归档</a></li>
                <li><a href="${site_url('/links')}">友链</a></li>
                <li><a href="${site_url('/about')}">关于</a></li>
            </ul>
        </div>
    </div>
</header>